@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Light.ttf");
}

header {
    height: 204px;
    width: 100%;
}

nav {
    background-color: #333333;
    margin-top: -15px;
    height: 100px;
    width: 100%;
    position: relative;
}

#bannerBg {
    height: 103px;
    width: 100%;
    background: url(../images/tripa.png) repeat-x center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

#bannerTop {
    height: 103px;
    width: 100%;
    background: url(../images/faixa.png) no-repeat center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    z-index: 9997;
}

/*#logo {
    height: 104px;
    width: 384px;
    background: url(../images/logo.png) no-repeat center left;
    margin-bottom: 0;
    z-index: 9998;
}*/

#fale {
    height: 103px;
    width: 244px;
    background: url(../images/fale_conosco.png) no-repeat center left;
    float: right;
}

a:link, a:visited {
    font-family: "Open Sans";
    font-weight: lighter;
    color: #454545;
    text-decoration: none;
    text-transform: uppercase;
}

#menu {
    height: 100px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

li {
    float: right;
    list-style: none;
    margin-left: 20px;
    margin-top: 30px;
}

li span {
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    text-align: center;
    float: left;
    line-height: 40px;
    height: 40px;
    width: 146px;
}

.yellow {
    background: url(../images/botao_amarelo.png) no-repeat center left;
    width: 150px;
    height: 40px;
}

.blue {
    background: url(../images/botao_azul.png) no-repeat center left;
    width: 150px;
    height: 40px;
}

.purple {
    background: url(../images/botao_roxo.png) no-repeat center left;
    width: 150px;
    height: 40px;
}

.jobs {
    width: 1054px;
    height: 590px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: table;
}

.job_ilu, .job_prog, .job_ux {
    display:inline-table;
    width: 25%;
    margin-left: 18px;
    margin-bottom: 15px;
}

.jobs .inactive {
    display: table-cell;
    width: 30%;
}

.jobs p {
    font-family: "OpenSans";
    font-weight: lighter;
    font-size: 25px;
    text-align: center;
    width: 242px;
    color: #454545;
    padding-top: 20px;
}

footer {
    width: 1024px;
    height: 125px;
    background: url(../images/visite_nosso_site.png) no-repeat center right;
    margin-left: auto;
    margin-right: auto;
}

footer span {
    float: right;
    height: 125px;
    width: 292px;
}

.job_prog {
    width: 242px;
    height: 170px;
    background: url(../images/box_roxo_normal.png) no-repeat center;
    transition: background 0.2s linear;
    cursor:pointer;
}

.job_ux {
    width: 242px;
    height: 170px;
    background: url(../images/box_azul_normal.png) no-repeat center;
    transition: background 0.2s linear;
    cursor:pointer;
}

.job_ilu {
    width: 242px;
    height: 170px;
    background: url(../images/box_amarelo_normal.png) no-repeat center;
    transition: background 0.2s linear;
    cursor:pointer;
}

#black_overlay{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    /*-moz-opacity: 0.9;*/
    opacity:.90;
    /*filter: alpha(opacity=90);*/
}
#white_content {
    display: none;
    position: absolute;
    top: 10%;
    left: 30%;
    width: 700px;
    height: 750px;
    background-color: #e7e7e7;
    z-index:1002;
    overflow: auto;
}

#close_btn {
    float: right;
    top: -12px;
    margin-right: 10px;
    position: relative;
    width: 22px;
    height: 22px;
    z-index: 9999;
}

#white_content h1 {
    font-family: 'OpenSans';
    font-size: 30px;
    color: #989898;
    margin-left: 25px;
    margin-top: 40px;
}

#white_content p {
    font-family: 'OpenSans';
    font-size: 14px;
    color: #4c4c4c;
    margin-left: 25px;
    margin-top: 40px;
    width:650px;
    /*text-justify:auto;*/
}

#description {
    position: relative;
    width: 100%;
    height: 28px;
    background-color: #3d3d3d;
    margin-top: 50px;
}

#description p {
    font-family: 'OpenSans';
    font-size: 11px;
    color: white;
    line-height: 25px;
    text-transform: uppercase;
}

#border {
    width: 100%;
    height: 20px;
    position: relative;
    top: 0;
}

form {
    width:698px;
    height:394px;
    background-color:#e8e7e9;
}

form input, form label {
    display:block;
}

form input, form textarea {
    font-family: 'OpenSans';
    font-size: 11px;
    font-weight: bold;
    width:316px;
    height:26px;
    border-radius:10px;
    border:none;
    text-indent: 5px;
}

form textarea {
    width:305px;
    height:189px;
}

form label {
    font-family: 'OpenSans';
    font-size: 11px;
    color:#4c4c4c;
}

form label:not(first-child) {
    margin-top:10px;
    margin-bottom:5px;
}

form .left, form .right {
    box-sizing:border-box;
    width:50%;
    height:100%;
    display:inline-block;
    float:left;
    padding-top:35px;
}
form .left {
    padding-left:26px;
}
form .right {
    padding-left:20px;
    padding-right:26px;
}
form div#submit {
    width:173px;
    height:35px;
    background: url(../images/essa_vaga_normal.png) no-repeat center;
    border: none;
    float:right;
    margin-top:20px;
    text-align:center;
    line-height:35px;
    color:white;
    font-weight:bold;
    font-size:14px;
    cursor:pointer;
}
form label span.required {
    color:red;
}

#emailResult {
    font-family: 'OpenSans';
    float:right;
    margin-top:10px;
}

#emailResult.success {
    color:green;
}

#emailResult.error {
    color:red;
}

#no-jobs h1{
    font-family: 'OpenSans';
    font-size: 30px;
    text-align: center;
}